<h1>Page of <%= @user.first_name %></h1>

<p>First Name : <%= @user.first_name %></p>
<p>Last Name : <%= @user.last_name %></p>
<p>Email : <%= @user.email %></p>

<%= link_to 'Edit', edit_user_path(@user.id), class: 'btn btn-warning' %>
<%= link_to 'Delete', user_path(@user), class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %>

<div style="height: 100px;"></div>
